<header class="header">
  <h1 class="logo"><a href="index.html">Bruna Marcela.</h1>

  <nav id="navbar">
    <ul class="navlinks">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li class="dropdown">
        <a href="#">Projects</a>
        <div class="dropdown-content">
          <a href="projects1.html">Moody</a>
          <a href="projects2.html">Artology</a>
        </div>
      </li>
      <li><a href="contacts.html">Contacts</a></li>
    </ul>
  </nav>
</header>