footer {
    width: 100%;
    margin: auto;
    height: auto;
    padding-top: 72px;
    padding-bottom: 88px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $main-color;

    z-index: 1;

    h2 {
        text-align: center;
        @include fontLargeBold;
    }

    p {
        text-align: center;
        line-height: 140%;
    }


    .social-media {
        display: flex;
        column-gap: 16pxs;
    }
    .linkedin {
        background: transparent;
        border: none;
        display: content;
        cursor: pointer;

        svg {
            stroke: $primary-color;
        }

    }

    .behance {
        background: transparent;
        border: none;
        display: content;
        cursor: pointer;

        svg {
            color: $primary-color;
        }
    }

    

}

.footer-p {
    margin-bottom: 0;
    @include fontSmall;
    @include mainFont;
}