footer {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    height: 50px;
    color: $text-color;
    
}

.footer-p {
    margin-bottom: 0;
    @include fontSmall;
    @include mainFont;
}