footer {
    width: 100%;
    margin: auto;
    height: auto;
    padding-top: 72px;
    padding-bottom: 88px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $main-color;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;

    h2 {
        text-align: center;
        @include fontLargeBold;
    }

    p {
        text-align: center;
        line-height: 140%;
    }


    .social-media {
        display: flex;
        gap: 16px;
    }


    .media-btn {
        

        :hover {
            border-radius: 50px;
            border: 1px solid $main-color;
        }

        :hover .background {
            fill: white;
        }

        :hover .fill-color {
            fill: $main-color;
        }


    }


}