header {
    //background: rgb(255,255,255);
    //background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(204,179,255,1) 100%);
    background-attachment: fixed;
    background: linear-gradient(
        to bottom, 
        rgba(204,179,255,1) 00%,
        rgba(204,179,255,1) 0%,
        rgba(204,179,255,0) 100%
     );
    display: flex;
    justify-content: space-between;
    color: $text-color;
    position: fixed;
    width: 100%;
    padding: 20px;
    align-items: center;
    z-index: 100;

    @media (min-width: $large) {
        padding: 20px 100px 20px 100px;
        }

    a {
        color: $text-color;
        text-decoration: none;
        display: block;

        &:hover {
            color: $primary-color;
        }

        &.active {
            text-decoration: 2.5px wavy overline $primary-color;
        }
    }

    li {
        display: inline-block;
    }


    ul {
        display: flex;
        column-gap: 30px;
        list-style-type: none;
        margin: 0;
        @include fontSmallBold;
        @include mainFont;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        border: 1px solid $text-color;
        min-width: auto;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        z-index: 1;

        a {
            color: $text-color;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }

    nav li.dropdown:hover .dropdown-content {
        display: block;
    }

    h1 {
        @include fontLarge;
        @include mainFont;
    }

}