header {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    height: rem(50);
    color: $text-color;
    
}

.header-h1 {
    @include fontSmall;
    @include mainFont;
}