body {
  height: 100svh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(204, 179, 255) 100%);
  background-attachment: fixed;

  &.no-scroll {
    overflow-y: hidden;
  }

  header {
    h1 {
      @include fontLargeBold;
    }

  }


  h1 {
    @include mainFont;
    @include fontLarge;
    margin: 0;
    text-align: center;
  }

  h2 {
    @include mainFont;
    @include fontLarge;

  }

  p {
    @include mainFont;
    @include fontRegular;

    @media (min-width: $large) {
      @include fontSmallDesk;

    }


  }



  a {
    text-decoration: none;

    .button-font {
      @include mainFont;
      @include fontRegular;

      @media (min-width: $large) {
        @include fontSmallDesk;
      }
    }
  }

  .normal-link {
    padding: 8px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid $main-color;
    color: $main-color;

    &:hover {
      background: black;
      color: white;
      border: 1px solid black;
    }

  }

  //HOME GRELHA

  .grid-container-home {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: 100vh 70vh 70vh;


    @media (min-width: $large) {
      grid-template-columns: repeat(12, 1fr);
      gap: 72px;
    }

    section {

      &.intro {
        padding: 0px 20px 0 20px;
        grid-row: 1;
        grid-column: 1 / span 4;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
          @include fontLarge;
          color: $main-color;

        }

        @media (min-width: $large) {
          grid-column: 1 / span 12;
          grid-row: 1;
          padding: 0px 250px 0 250px;
        }
      }


      &.project-1 {
        grid-row: 2;
        grid-column: 1 / span 4;
        background-image: url(/assets/images/project1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: $large) {
          justify-content: end;
        }

        h2 {
          @include fontMedium;
        }

        @media (min-width: $large) {
          background-position: left;
          background-size: 60%;
          grid-column: span 12;

          &.box {
            justify-self: end;
          }

        }
      }

      &.project-2 {
        grid-row: 3;
        grid-column: 1 / span 4;
        background-image: url(/assets/images/project2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: $large) {
          justify-content: start;
        }

        h2 {
          @include fontMedium;
        }

        @media (min-width: $large) {
          grid-column: span 12;
          background-position: right;
          background-size: 60%;

        }
      }

    }
  }
}

//GRELHA SPOTIFY

.grid-container-project {
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  margin: 150px 20px 0 20px;

  @media (min-width: $large) {
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    margin: 100px 100px 0 100px;

  }

  figure {
    &.thumbnail {
      grid-column: 1 / span 4;
      height: 300px;

      @media (min-width: $large) {
        grid-column: 1 / span 12;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.data {
      grid-column: 1 / span 4;


      @media (min-width: $large) {
        grid-column: 8 / 13;
      }

      img {
        width: 100%;

        @media (min-width: $large) {
          max-width: 595px;
        }
      }
    }

  }

  div {
    &.button-case {
      grid-column: 1 / span 4;
      text-align: center;
      padding-top: 32px;

      @media (min-width: $large) {
        grid-column: 5 / 9;
      }
    }
  }

  article {
    &.intro-moody {
      grid-column: 1 / span 4;

      @media (min-width: $large) {
        grid-column: 1 / 7;
      }
    }

    &.specs {
      grid-column: 1 / span 4;
      display: flex;
      justify-content: space-between;

      @media (min-width: $large) {
        grid-column: 9 / 13;
      }
    }

    &.why {
      grid-column: 1 / span 4;

      @media (min-width: $large) {
        grid-column: 1 / 8;
      }
    }


    &.understanding {
      grid-column: 1 / span 4;
      display: flex;
      flex-direction: column;

      @media (min-width: $large) {
        grid-column: 1 / span 12;
      }

      .topics {
        @media (min-width: $large) {
          display: flex;
          column-gap: 16px;

          .challenge {
            width: 50%;
          }

          .segment {
            width: 50%;
          }
        }
      }

    }



  }
}



//ABOUT

section {
  &.about {
    padding: 150px 20px 0 20px;

    @media (min-width: $large) {
      padding: 100px 100px 0 100px;
    }

    @media (min-width: $medium) {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;

      &.profile-pic {
        max-width: 50%;
        display: flex;


      }
    }

  }
}