@mixin mainFont {
    font-family: Work Sans, Futura, sans-serif;
}

@mixin fontSmall {
    font-weight: 700;
    font-size: 16px;
}

@mixin fontMedium {
    font-size: 20px;
    line-height: 1.15;
}

@mixin fontLarge {
    font-size: 27px;
    line-height: 1.15;
    font-weight: 700;
}
