@mixin mainFont {
    font-family: 'Work Sans', sans-serif;
}

@mixin fontCaption {
    font-weight: 500;
    font-size: rem(12px);
    line-height: 20px;
}

@mixin fontSmallDesk {
    font-weight: 500;
    font-size: rem(16px);
    line-height: 30px;
}

@mixin fontSmallBoldDesk {
    font-weight: 600;
    font-size: rem(16px);
    line-height: 30px;
}

@mixin fontSmall {
    font-weight: 500;
    font-size: rem(18px);
    line-height: 30px;
}

@mixin fontSmallBold {
    font-weight: 600;
    font-size: rem(18px);
    line-height: 30px;
}

@mixin fontBold {
    font-weight: 600;
    font-size: rem(20px);
    line-height: 30px;
}

@mixin fontRegular {
    font-weight: 500;
    font-size: rem(20px);
    line-height: 30px;
}

@mixin fontMediumRegular {
    font-size: rem(24px);
    font-weight: 400;
    line-height: 32px;
}

@mixin fontMedium {
    font-size: rem(24px);
    font-weight: 600;
    line-height: 32px;
}

@mixin fontLarge {
    font-size: rem(32px);
    font-weight: 500;
    line-height: 48px;
}

@mixin fontLargeBold {
    font-size: rem(32px);
    font-weight: 600;
    line-height: 48px;
}

@mixin fontXLargeBold {
    font-size: rem(40px);
    font-weight: 600;
    line-height: 52px;
}
