@import
"partials/color",
"partials/functions",
"partials/mixins",
"partials/mediaqueries",
"partials/header",
"partials/about",
"partials/layout",
"partials/footer",
"partials/home",
"partials/contacts",
"partials/animations"
;


button.primary {
    border: 1px solid #f00;
    color: blue;
    padding: 6px 10px;
    font-size: 18px;
    background: green;
  }
  
  button.secondary {
    @extend .primary;
    background: red;
  }

