body {
    font-family: sans-serif;
    display: flex;
    margin: 0;
    height: 100svh;
    flex-direction: column;

}

main {
    background-color: #add8e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

h1 {
    margin: 0;
}