body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100svh;
  }
  h1 {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin: 0;
    color: #0000ff;
    text-align: center;
  }

  main {
    background: #fff;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
    max-width: 540px;
    margin: 0 auto;
  }
  @media (min-width: 850px) {
    main {
      max-width: 100%;
      padding: 30px;
    }
  }
  @media (min-width: 1180px) {
    main {
      max-width: 1130px;
    }
  }

  figure {
    margin: 0;
    height: 0;
    position: relative;
    background: #ccc;
    overflow: hidden;
    padding-bottom: 100%;
  }

  img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


  p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 40px;
  }
  header,
  footer {
    font-family: Arial, sans-serif;
    font-size: 20px;
  }
  .flex-grid {
    width: 100%;
  }
  .column {
    background: #90ee90;
  }
  .column:not(:last-child) {
    margin-bottom: 30px;
  }
  @media (min-width: 850px) {
    .flex-grid {
      display: flex;
      flex-direction: row;
      column-gap: 30px;
    }
    .column {
      width: 33.33%;
    }
    .column:not(:last-child) {
      margin-bottom: 0;
    }
  }