body .grid-container {
  background-color: lightgray;
  max-width: 900px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
}
body .grid-container > section {
  background: gray;
  text-align: center;
  padding: 20px;
  border: 1px solid brown;
}
body .grid-container > section :nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/span 6;
}

/* @media (min-width: $large) {
  .grid-container {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 50px;
    padding: 100px;
    overflow: hidden;
  }

  .intro {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .project-1 {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .project-2 {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .about-text {
    order: 2;
    grid-column-start: 3;
    grid-column-end: 6;
  }


  .profile-pic {
    order: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }

}
}
*/
/* body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100svh;
    &.about{
      background: pink;
    }

    &.contacts {
      background: violet;
    }

    &.home {
      background: lightblue;
    }
  }
  h1 {
    @include mainFont;
    @include fontLarge;
    margin: 0;
    text-align: center;
  }

  main {
    //background: #fff;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
    max-width: 540px;
    margin: 0 auto;
    @media (min-width: $medium) {
      max-width: 100%;
      padding: 30px;
    }
    @media (min-width: $large) {
      max-width: 1130px;
    }
  }

  figure {
    margin: 0;
    height: 0;
    position: relative;
    background: #ccc;
    overflow: hidden;
    padding-bottom: ratio(16, 9);
  }

  img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


  p {
    font-family: Work Sans;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 40px;
  }
  header,
  footer {
    font-family: Work Sans;
    font-size: 20px;
  }


.main-p {
  @include mainFont;
  @include fontMedium;
}

  .flex-grid {
    width: 100%;
  }
  .column {
    background: #90ee90;
  }
  .column:not(:last-child) {
    margin-bottom: 30px;
  }
  @media (min-width: $medium) {
    .flex-grid {
      display: flex;
      flex-direction: row;
      column-gap: 30px;
    }
    .column {
      width: 33.33%;
    }
    .column:not(:last-child) {
      margin-bottom: 0;
    }
  }

  */